{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
    <title>Document</title>
</head>
<body>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'hello' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact_us' %}">Contact</a></li>
                <li><a href="{% url 'listing' %}">Listings</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}

    </body>
</html>